body {
    margin: 0;
    height: 100vh;
    background: rgb(25,25,25);
    display: grid;
    place-content: center;
    overflow: hidden;
}

svg {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    margin: 0;
    display: block;
}

path {
    stroke: white;
    fill: none;
}

h1 {
    font-size: 5rem;
    color: white;
    font-family: 'Playfair Dispaly', serif;
    pointer-events: none;

    &:before {
        content: 'GREAT';
        position: absolute;
        top: 20%;
        left: -10%;
        font-size: 20rem;
        color: rgb(32,32,32);
        z-index: -2;
    }
}
